body{
  background:#333 !important;
  color:white;
}
.navbar{
	border-bottom-color: #FF8C00 3px solid;
	opacity: 0.8;
}
.navbar-brand img{
	width: 32px
	height:32px;
}
.d-flex{
	color:#FF8C00;
}
#home-section{
	background: url("../images/house.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.dark-overlay{

	background-color: rgba(0,0,0,0.5);
	position: relative;
	top: 0;
	left: 0;
	width: 100%;

}
.home-inner{
	padding-top: 40px;
}
